html, body {
    color: white;
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    text-rendering: optimizeLegibility;
    scrollbar-width: auto;
    scrollbar-color: #ffffff #242424;
}

a, .emby-linkbutton, .emby-linkbutton:visited {
    color: #fcfeff;
}
.skinHeader-withBackground {
    background: rgba(0, 0, 0, 0);
}
.cardContent{
    border-radius: 15px;
    backface-visibility: hidden;
}
.indicator {
    background: #00000058 !important;
}

