html, body {
    color: white;
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    text-rendering: optimizeLegibility;
    scrollbar-width: auto;
    scrollbar-color: #ffffff #242424;
}

a, .emby-linkbutton, .emby-linkbutton:visited {
    color: #fcfeff;
}
.skinHeader-withBackground {
    background: rgba(0, 0, 0, 0);
}
.card, 
.cardImageContainer,
.primaryImageWrapper,
.cardContent,
.cardOverlayContainer,
.cardPadder {
  border-radius: 15px !important;
  overflow: hidden;                /* schneidet die graue Fläche ab */
  background: transparent !important;
}
.cardPadder,
.cardBox,
.defaultCardBackground {
  background: transparent !important;
}
.cardOverlayContainer::before,
.cardOverlayContainer::after,
.cardOverlayButton {
  background: transparent !important;
  box-shadow: none !important;
}
.indicator {
    background: #00000058 !important;
}
.itemProgressBarForeground {
    background: linear-gradient(90deg, #ff0000, #ff8c00, #ffff00, #008000, #0000ff, #4b0082, #ee82ee) !important;
}
